.env
*:Zone.Identifier
docker/database/data/
docker/logs/nginx/access.log
docker/logs/nginx/error.log
docker/solr/data/logs/
drupal/files/files/css
drupal/files/files/js
drupal/files/files/php
drupal/web/.csslintrc
drupal/web/.eslintignore
drupal/web/.eslintrc.json
drupal/web/.ht.router.php
drupal/web/.htaccess
drupal/web/autoload.php
drupal/web/core/
drupal/web/drupal/web.config
drupal/web/example.gitignore
drupal/web/index.php
drupal/web/INSTALL.txt
drupal/web/libraries
drupal/web/modules/contrib/
drupal/web/profiles/
drupal/web/README.txt
drupal/web/README.md
drupal/web/robots.txt
drupal/web/sites/default/default.*
drupal/web/sites/example.*
drupal/web/sites/README.txt
drupal/web/themes/contrib/
drupal/web/themes/custom/envivent/dist/
drupal/web/themes/custom/envivent/node_modules/
drupal/web/themes/custom/envivent/npm-shrinkwrap.json
drupal/web/themes/README.txt
drupal/web/update.php
drupal/vendor/
